<!doctype html>
<html ng-app="MainApp">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>EXAMEN_EA_ANGULAR</title>
	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
	<!-- Angular js-->
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.min.js"></script>
	<!-- Cargamos el javascript de angular -->
	<script src="index.js"></script>

</head>
<body ng-controller="mainController">
	<div class="container">

		<div class="jumbotron text-center"style="background-color: yellow">
			<h1>EXAMEN EA ANGULAR</h1>
		</div>

        <div>
            <div>Filtro:</div>
            <input type="text" class="form-control input-lg text-center" style="width:200px" placeholder="Filtro" ng-value="filtro" ng-model="filtro.name"required>
            <div>

		<div class="row">
            <div class="col-sm-7">
                <table class="table table-striped">
					<tr class="info  text-center">
						<td>Name</td>
						<td>Username</td>
						<td>password</td>
						<td>Correo</td>
					</tr>
					<tr class="text-center" ng-repeat="usuario in usuarios | filter:filtro " ng-click="selectUsuario(usuario)">
						<td>{{usuario.name}}</td>
						<td>{{usuario.username}}</td>
						<td>{{usuario.password}}</td>
						<td>{{usuario.email}}</td>
					</tr>
				</table>					
			</div>
			<div class="col-sm-5 text-center">
				<form name="myForm">
					<div class="form-group">
                        <input type="text" class="form-control input-lg text-center" placeholder="Name" ng-model="newUsuario.name"required >
						<br>
						<input type="text" class="form-control input-lg text-center" placeholder="Username" ng-model="newUsuario.username" required ng-disabled="notchange">
						<br>
						<input type="text" class="form-control input-lg text-center" placeholder="Contraseña" ng-model="newUsuario.password" required>
						<br>
						<input type="text" class="form-control input-lg text-center" placeholder="Correo" ng-model="newUsuario.email" required>
					</div>

					<!-- Acciones que podemos realizar en el formulario -->
					<button type="submit" class="btn btn-success btn-lg" ng-click="registrarUsuario()" ng-disabled="myForm.$invalid || selected">Registrar</button>
					<button type="submit" class="btn btn-warning btn-lg" ng-click="modificarUsuario(newUsuario)" ng-disabled="!newUsuario.name || !newUsuario.username || !newUsuario.password || !newUsuario.email ||!selected">Modificar</button>
					<button type="submit" class="btn btn-danger btn-lg" ng-click="borrarUsuario(newUsuario)" ng-disabled="!newUsuario.name || !newUsuario.username || !newUsuario.password || !newUsuario.email ||!selected">Borrar</button>
				</form>
			</div>
		</div>
	</div>
</body>
</html>